# blueflux
# theme for fluxbox
# 2003 (c) BioNiK
# edited from skypher's theme, thanks fluxgen for the awesome work with fluxbox ;)

toolbar:			flat gradient vertical
	toolbar.color:			#527d8b
        toolbar.colorTo:                  #527d8b

toolbar.label:				flat gradient vertical

toolbar.label.pixmap: toolbar.xpm

    toolbar.label.color:		 #527d8b
	toolbar.label.colorTo:		 #83aeb4
	toolbar.label.textColor:	black

toolbar.windowLabel:            	flat gradient vertical

toolbar.windowLabel.pixmap: toolbar_label.xpm

    toolbar.windowLabel.color:      	#0000ff
    toolbar.windowLabel.colorTo:        #c0c6c7
    toolbar.windowLabel.textColor:  	black

toolbar.clock:				flat gradient vertical

toolbar.clock.pixmap: toolbar.xpm

    toolbar.clock.color:		#527d8b
    toolbar.clock.colorTo:                #527d8b
    toolbar.clock.textColor:		black

toolbar.button:				flat vertical gradient
   toolbar.button.color:               #527d8b
    toolbar.button.colorTo:		#527d8b
    toolbar.button.picColor:	black

toolbar.button.pressed:			flat gradient vertical
    toolbar.button.pressed.color:       #83aeb4
    toolbar.button.pressed.colorTo:	#527d8b

menu.title:				flat gradient vertical pixmap

menu.title.pixmap: title_bar.xpm

    menu.title.color:			rgb:68/95/E3
    menu.title.colorTo:			rgb:31/59/9C
    menu.title.textColor:		black

menu.frame.pixmap: menu_frame.xpm

menu.frame:				flat gradient vertical
    menu.frame.color:			rgb:DB/DA/DB
    menu.frame.colorTo:			rgb:D4/CE/D2
    menu.frame.textColor:		rgb:45/45/45

menu.hilite:				flat solid
    menu.hilite.color:			rgb:91/A3/9E
    menu.hilite.textColor:		white

menu.bullet:				triangle
    menu.bullet.position:		right


slit.pixmap: menu_frame.xpm



! WIN FOCUS

window.title.focus:			flat gradient vertical

window.label.focus.pixmap: title_bar.xpm
window.label.unfocus.pixmap: title_bar_unfocus.xpm
window.title.focus.pixmap: title_bar.xpm
window.title.unfocus.pixmap: title_bar_unfocus.xpm

window.*.textColor:			black
    window.title.focus.color:		black
    window.title.focus.colorTo:		black

window.label.focus:			flat gradient vertical

window.label.pixmap: title_bar.xpm

    window.label.focus.color:		rgb:68/95/E3
    window.label.focus.colorTo:		rgb:31/59/9C
    window.label.focus.textColor:	black
_
window.button.focus:			flat gradient vertical
    window.button.focus.color:		rgb:EA/EA/EA
    window.button.focus.colorTo:	rgb:94/9B/99
    window.button.focus.picColor:	rgb:35/35/35

window.button.pressed:			flat solid
    window.button.pressed.color:	rgb:94/9B/99

window.handle.focus:			flat solid
    window.handle.focus.color:		rgb:EA/EA/EA

window.grip.focus:			Raised Gradient vertical
    window.grip.focus.color:		#83aeb4
    window.grip.focus.colorTo:		#527d8b

window.frame.focusColor:		black


! unfocused win

window.title.unfocus:			flat gradient vertical
    window.title.unfocus.color:		rgb:D9/D9/D9
    window.title.unfocus.colorTo:	white


window.label.unfocus:			raised gradient vertical
    window.label.unfocus.color:		rgb:C6/C5/C6
    window.label.unfocus.colorTo:	rgb:A7/A6/A7
    window.label.unfocus.textColor:	black

window.button.unfocus:			raised gradient vertical
    window.button.unfocus.color:	rgb:EA/EA/EA
    window.button.unfocus.colorTo:	rgb:94/9B/99
    window.button.unfocus.picColor:	rgb:35/35/35

window.handle.unfocus:			flat solid
    window.handle.unfocus.color:	rgb:EA/EA/EA

window.grip.unfocus:			flat solid
    window.grip.unfocus.color:		rgb:EA/EA/EA

window.frame.unfocusColor:		black



! PIXMAPS

window.close.pixmap: button_close_active.xpm
window.maximize.pixmap: button_max_active.xpm
window.iconify.pixmap: button_min_active.xpm
window.stick.pixmap: button_stick_active.xpm

window.close.pressed.pixmap: button_close_pressed.xpm
window.maximize.pressed.pixmap: button_max_pressed.xpm
window.iconify.pressed.pixmap: button_min_pressed.xpm
window.stick.pressed.pixmap: button_stick_pressed.xpm

window.close.unfocus.pixmap: button_close_unfocus.xpm
window.maximize.unfocus.pixmap: button_max_unfocus.xpm
window.iconify.unfocus.pixmap: button_min_unfocus.xpm
window.stick.unfocus.pixmap: button_stick_unfocus.xpm

window.stuck.unfocus.pixmap: button_stuck_unfocus.xpm
window.stuck.pixmap: button_stuck.xpm


toolbar.button.pixmap: button_toolbar.xpm
toolbar.button.pressed.pixmap: button_toolbar_pressed.xpm


! FONTS

toolbar.justify:			center
window.justify:			center
menu.title.justify:			center
menu.frame.justify:			left

*Font:                          Andale-10

borderColor:				black
borderWidth:				1
bevelWidth:				0
handleWidth:				3
frameWidth:				0

! need this here, even though there is no background in the style
background: none
