#This work is licensed under a Creative Commons Attribution-Share Alike 3.0 License.
#(http://creativecommons.org/licenses/by-sa/3.0/de/deed.en)



###############################################################################
#
# name: carp
# made: tenner
# date: 20-09-2006
# http://www.tenr.de 
#
############################################################## FONTS ##########
					
menu.frame.font:						sans-7:bold
menu.title.font:						sans-7:bold
toolbar.clock.font:						sans-7:bold
toolbar.workspace.font:					tahoma-7:bold
toolbar.iconbar.focused.font:			sans-7:bold
toolbar.iconbar.unfocused.font:			sans-7
window.font:							sans-7

############################################################## MENU ###########

menu.bevelWidth:						1

#menu.itemHeight:						35
#menu.titleHeight:						21
menu.borderColor:						#000000
menu.borderWidth:						1

menu.bullet:							triangle
menu.bullet.position:					Right

menu.title:								flat
menu.title.justify:						center
menu.title.color:						#313131
menu.title.colorTo:						#313131
menu.title.textColor:					#ffffff

menu.frame:								flat	
menu.frame.justify:						left
menu.frame.color:						#ffffff
menu.frame.colorTo:						#ffffff
menu.frame.textColor:					#323232
menu.frame.disableColor:				#C1C1C1

menu.hilite:							flat
menu.hilite.color:						#868686
menu.hilite.colorTo:					#868686
menu.hilite.textColor:					#ffffff		

############################################################## TOOLBAR ########

toolbar.bevelWidth:						0

toolbar.borderWidth:					2
toolbar.borderColor:					#000000

toolbar.height:							15

toolbar.justify:						center

toolbar:								flat
toolbar.pixmap:							
toolbar.color:							#313131
toolbar.colorTo:						#313131

toolbar.clock:							flat
toolbar.clock.justify:					center
toolbar.clock.color:					#313131
toolbar.clock.colorTo:					#313131
toolbar.clock.textColor:				#F1F1F1

toolbar.workspace:						flat
toolbar.workspace.justify:				Center
toolbar.workspace.color:				#313131
toolbar.workspace.colorTo:				#313131
toolbar.workspace.textColor:			#F1F1F1

toolbar.button:							flat 
toolbar.button.color:					#313131
toolbar.button.colorTo:					#313131
toolbar.button.picColor:				#F1F1F1
toolbar.button.pressed:					sunken
toolbar.button.pressed.color:			#313131
toolbar.button.pressed.colorTo:			#313131
toolbar.button.pressed.picColor:		#000000

toolbar.iconbar.empty:					flat
toolbar.iconbar.empty.color:			#313131
toolbar.iconbar.empty.colorTo:			#313131

toolbar.iconbar.focused.borderWidth:	0
toolbar.iconbar.focused.borderColor:	#000000
toolbar.iconbar.focused:				sunken bevel2 gradient vertical
toolbar.iconbar.focused.color:			#ffffff
toolbar.iconbar.focused.colorTo:		#ffffff
toolbar.iconbar.focused.textColor:		#313131
toolbar.iconbar.focused.justify:		center

toolbar.iconbar.unfocused.borderWidth:	0
toolbar.iconbar.unfocused.borderColor:	#000000
toolbar.iconbar.unfocused:				flat
toolbar.iconbar.unfocused.color:		#313131
toolbar.iconbar.unfocused.colorTo:		#313131
toolbar.iconbar.unfocused.textColor:	#F1F1F1
toolbar.iconbar.unfocused.justify:		center

############################################################## WINDOW #########

window.bevelWidth:						0
window.shade:							false
window.borderWidth:						2
window.borderColor:						#000000

window.justify:							Center

window.title.height:					15

window.title.focus:						flat
window.title.focus.color:				#313131
window.title.focus.colorTo:				#313131
window.title.unfocus:					flat
window.title.unfocus.color:				#313131
window.title.unfocus.colorTo:			#313131

window.label.focus:						sunken bevel2 gradient vertical
window.label.focus.color:				#ffffff
window.label.focus.colorTo:				#ffffff
window.label.focus.textColor:			#313131
window.label.unfocus:					flat
window.label.unfocus.color:				#313131
window.label.unfocus.colorTo:			#313131
window.label.unfocus.textColor:			#F1F1F1

window.button.focus:					flat
window.button.focus.color:      		#313131
window.button.focus.colorTo:      		#313131
window.button.focus.picColor:			#f1f1f1
window.button.unfocus:					flat
window.button.unfocus.Color:			#313131
window.button.unfocus.ColorTo:			#3A3A35
window.button.unfocus.picColor:			#313131
window.button.pressed:					flat
window.button.pressed.color:			#313131
window.button.pressed.colorTo:			#313131
window.button.pressed.picColor:			#313131

window.shade.pixmap:			shade.xpm
window.shade.unfocus.pixmap:		blank.xpm
window.shade.pressed.pixmap:		blank.xpm

window.unshade.pixmap:			unshade.xpm
window.unshade.unfocus.pixmap:		blank.xpm
window.unshade.pressed.pixmap:		blank.xpm

window.close.pixmap:			close.xpm
window.close.unfocus.pixmap:		blank.xpm
window.close.pressed.pixmap:		blank.xpm

window.iconify.pixmap:			min.xpm
window.iconify.unfocus.pixmap:		blank.xpm
window.iconify.pressed.pixmap:		blank.xpm

window.maximize.pixmap:			max.xpm
window.maximize.unfocus.pixmap:		blank.xpm
window.maximize.pressed.pixmap:		blank.xpm

window.menuicon.pixmap:					blank.xpm
window.menuicon.unfocus.pixmap:			blank.xpm
window.menuicon.pressed.pixmap:			blank.xpm

window.handle.focus:					flat
window.handle.focus.color:				#313131
window.handle.focus.colorTo:			#313131
window.handle.unfocus:					flat
window.handle.unfocus.color:			#313131
window.handle.unfocus.colorTo:			#313131
window.handleWidth:						2

window.grip.focus:						flat
window.grip.focus.color:				#ffffff
window.grip.focus.colorTo:				#ffffff
window.grip.unfocus:					flat
window.grip.unfocus.color:				#313131
window.grip.unfocus.colorTo:			#313131

###############################################################################
# EOF
