#This work is licensed under a Creative Commons Attribution-Share Alike 3.0 License.
#(http://creativecommons.org/licenses/by-sa/3.0/de/deed.en)



###############################################################################
#
# name: zimek_green
# made: tenner
# date: 18-09-2007
# http://www.tenr.de 
#
############################################################## BACKGROUND #####

background: 					flat
background.color: 				#4A5241
background.colorTo:				#4A5241

############################################################## FONTS ##########
					
menu.frame.font:						sans-9:bold
menu.title.font:						sans-10:bold
toolbar.clock.font:						sans-9:bold
toolbar.workspace.font:					sans-10:bold
toolbar.iconbar.focused.font:			sans-8:bold
toolbar.iconbar.unfocused.font:			sans-8
window.font:							sans-8

############################################################## MENU ###########

menu.bevelWidth:						1

#menu.itemHeight:						35
#menu.titleHeight:						21
menu.borderColor:						#63634A
menu.borderWidth:						1

menu.bullet:							triangle
menu.bullet.position:					Right
menu.frame.underlineColor:				#e7e7e7

menu.title:								flat gradient vertical
menu.title.justify:						center
menu.title.color:						#ADD07E
menu.title.colorTo:						#718541
menu.title.textColor:					#e7e7e7

menu.frame:								flat gradient crossdiagonal	
menu.frame.justify:						left
menu.frame.color:						#F0EFE9
menu.frame.colorTo:						#BFBEB2
menu.frame.textColor:					#63634A
menu.frame.disableColor:				#5E873A

menu.hilite:							flat gradient vertical
menu.hilite.color:						#98977B
menu.hilite.colorTo:					#98977B
menu.hilite.textColor:					#e7e7e7			

############################################################## TOOLBAR ########

toolbar.bevelWidth:						0

toolbar.borderWidth:					1
toolbar.borderColor:					#63634A

toolbar.height:							21

toolbar.justify:						center

toolbar:								flat gradient vertical
toolbar.pixmap:							
toolbar.color:							#F0EFE9
toolbar.colorTo:						#BFBEB2

toolbar.clock:							parentrelative
toolbar.clock.justify:					center
toolbar.clock.color:					#
toolbar.clock.colorTo:					#
toolbar.clock.textColor:				#63634A

toolbar.workspace:						parentrelative
toolbar.workspace.justify:				Center
toolbar.workspace.color:				#
toolbar.workspace.colorTo:				#
toolbar.workspace.textColor:			#63634A

toolbar.button:							parentrelative 
toolbar.button.color:					#
toolbar.button.colorTo:					#
toolbar.button.picColor:				#63634A
toolbar.button.pressed:					parentrelative 
toolbar.button.pressed.color:			#
toolbar.button.pressed.colorTo:			#
toolbar.button.pressed.picColor:		#000000

toolbar.iconbar.borderWidth:			1
toolbar.iconbar.borderColor:			#63634A

toolbar.iconbar.empty:					parentrelative
toolbar.iconbar.empty.color:			#
toolbar.iconbar.empty.colorTo:			#

toolbar.iconbar.focused.borderWidth:	1
toolbar.iconbar.focused.borderColor:	#63634A
toolbar.iconbar.focused:				flat gradient vertical
toolbar.iconbar.focused.color:			#ADD07E
toolbar.iconbar.focused.colorTo:		#718541
toolbar.iconbar.focused.textColor:		#e7e7e7
toolbar.iconbar.focused.justify:		center

toolbar.iconbar.unfocused.borderWidth:	1
toolbar.iconbar.unfocused.borderColor:	#63634A
toolbar.iconbar.unfocused:				flat gradient vertical
toolbar.iconbar.unfocused.color:		#F0EFE9
toolbar.iconbar.unfocused.colorTo:		#BFBEB2
toolbar.iconbar.unfocused.textColor:	#63634A
toolbar.iconbar.unfocused.justify:		center

############################################################## WINDOW #########
window.roundCorners: TopRight TopLeft
window.bevelWidth:						4
window.shade:							false
window.borderWidth:						1
window.borderColor:						#63634A

window.justify:							Center

window.title.height:					21

window.title.focus:						flat gradient vertical
window.title.focus.color:				#ADD07E
window.title.focus.colorTo:				#718541
window.title.unfocus:					flat gradient vertical
window.title.unfocus.color:				#F0EFE9
window.title.unfocus.colorTo:			#BFBEB2

window.label.focus:						parentrelative
window.label.focus.color:				#
window.label.focus.colorTo:				#
window.label.focus.textColor:			#e7e7e7
window.label.unfocus:					parentrelative
window.label.unfocus.color:				#
window.label.unfocus.colorTo:			#
window.label.unfocus.textColor:			#63634A

window.button.focus:					parentrelative
window.button.focus.color:      		#
window.button.focus.colorTo:      		#
window.button.focus.picColor:			#ffffff
window.button.unfocus:					parentrelative
window.button.unfocus.Color:			#
window.button.unfocus.ColorTo:			#
window.button.unfocus.picColor:			#63634A
window.button.pressed:					parentrelative
window.button.pressed.color:			#
window.button.pressed.colorTo:			#
window.button.pressed.picColor:			#000000

window.handle.focus:					flat
window.handle.focus.color:				#ADD07E
window.handle.focus.colorTo:			#ADD07E
window.handle.unfocus:					flat
window.handle.unfocus.color:			#F0EFE9
window.handle.unfocus.colorTo:			#F0EFE9
window.handleWidth:						2

window.grip.focus:						flat
window.grip.focus.color:				#63634A
window.grip.focus.colorTo:				#63634A
window.grip.unfocus:					flat
window.grip.unfocus.color:				#63634A
window.grip.unfocus.colorTo:			#63634A

###############################################################################
# EOF
