#This work is licensed under a Creative Commons Attribution-Share Alike 3.0 License.
#(http://creativecommons.org/licenses/by-sa/3.0/de/deed.en)



###############################################################################
#
# name: zimek_darkblue
# made: tenner
# date: 18-09-2007
# http://www.tenr.de 
#
############################################################## BACKGROUND #####

background: 					flat gradient elliptic
background.color: 				#1C232E
background.colorTo:				#12233F

############################################################## FONTS ##########
					
menu.frame.font:						sans-9:bold
menu.title.font:						sans-10:bold
toolbar.clock.font:						sans-9:bold
toolbar.workspace.font:					sans-10:bold
toolbar.iconbar.focused.font:			sans-8:bold
toolbar.iconbar.unfocused.font:			sans-8
window.font:							sans-8

############################################################## MENU ###########

menu.bevelWidth:						1

#menu.itemHeight:						35
#menu.titleHeight:						21
menu.borderColor:						#2B2B2B
menu.borderWidth:						1

menu.bullet:							triangle
menu.bullet.position:					Right
menu.frame.underlineColor:				#F4F4F4

menu.title:								flat gradient vertical
menu.title.justify:						center
menu.title.color:						#4E5A6A
menu.title.colorTo:						#010508
menu.title.textColor:					#B6B8C1

menu.frame:								flat gradient crossdiagonal	
menu.frame.justify:						left
menu.frame.color:						#4E5A6A
menu.frame.colorTo:						#010508
menu.frame.textColor:					#ffffff
menu.frame.disableColor:				#90A2C8

menu.hilite:						flat gradient pyramid
menu.hilite.color:					#010508
menu.hilite.colorTo:					#65676B
menu.hilite.textColor:					#90A2C8

############################################################## TOOLBAR ########

toolbar.bevelWidth:						0

toolbar.borderWidth:					1
toolbar.borderColor:					#2B2B2B

toolbar.height:							21

toolbar.justify:						center

toolbar:								flat gradient vertical
toolbar.pixmap:							
toolbar.color:							#3C4552
toolbar.colorTo:						#010508

toolbar.clock:							parentrelative
toolbar.clock.justify:					center
toolbar.clock.color:					#
toolbar.clock.colorTo:					#
toolbar.clock.textColor:				#B6B8C1

toolbar.workspace:						parentrelative
toolbar.workspace.justify:				Center
toolbar.workspace.color:				#
toolbar.workspace.colorTo:				#
toolbar.workspace.textColor:			#B6B8C1

toolbar.button:							parentrelative 
toolbar.button.color:					#
toolbar.button.colorTo:					#
toolbar.button.picColor:				#B6B8C1
toolbar.button.pressed:					parentrelative 
toolbar.button.pressed.color:			#
toolbar.button.pressed.colorTo:			#
toolbar.button.pressed.picColor:		#000000

toolbar.iconbar.borderWidth:			1
toolbar.iconbar.borderColor:			#2B2B2B

toolbar.iconbar.empty:					parentrelative
toolbar.iconbar.empty.color:			#
toolbar.iconbar.empty.colorTo:			#

toolbar.iconbar.focused.borderWidth:	1
toolbar.iconbar.focused.borderColor:	#2B2B2B
toolbar.iconbar.focused:				flat gradient vertical
toolbar.iconbar.focused.color:			#4E5A6A
toolbar.iconbar.focused.colorTo:		#010508
toolbar.iconbar.focused.textColor:		#B6B8C1
toolbar.iconbar.focused.justify:		center

toolbar.iconbar.unfocused.borderWidth:	1
toolbar.iconbar.unfocused.borderColor:	#2B2B2B
toolbar.iconbar.unfocused:				flat gradient vertical
toolbar.iconbar.unfocused.color:		#3C4552
toolbar.iconbar.unfocused.colorTo:		#010508
toolbar.iconbar.unfocused.textColor:	#65676B
toolbar.iconbar.unfocused.justify:		center

############################################################## WINDOW #########
window.roundCorners: TopRight TopLeft
window.bevelWidth:						4
window.shade:							false
window.borderWidth:						1
window.borderColor:						#2B2B2B

window.justify:							Center

window.title.height:					21

window.title.focus:				flat gradient vertical
window.title.focus.color:			#4E5A6A
window.title.focus.colorTo:			#010508
window.title.unfocus:				flat gradient vertical
window.title.unfocus.color:			#3C4552
window.title.unfocus.colorTo:			#010508

window.label.focus:						parentrelative
window.label.focus.color:				#
window.label.focus.colorTo:				#
window.label.focus.textColor:			#B6B8C1
window.label.unfocus:					parentrelative
window.label.unfocus.color:				#
window.label.unfocus.colorTo:			#
window.label.unfocus.textColor:			#65676B

window.button.focus:					parentrelative
window.button.focus.color:      		#
window.button.focus.colorTo:      		#
window.button.focus.picColor:			#B6B8C1
window.button.unfocus:					parentrelative
window.button.unfocus.Color:			#
window.button.unfocus.ColorTo:			#
window.button.unfocus.picColor:			#65676B
window.button.pressed:					parentrelative
window.button.pressed.color:			#
window.button.pressed.colorTo:			#
window.button.pressed.picColor:			#000000

window.handle.focus:				gradient vertical
window.handle.focus.color:			#4E5A6A
window.handle.focus.colorTo:			#010508
window.handle.unfocus:				gradient vertical
window.handle.unfocus.color:			#3C4552
window.handle.unfocus.colorTo:			#010508
window.handleWidth:				2

window.grip.focus:				raised
window.grip.focus.color:			#2B2B2B
window.grip.focus.colorTo:			#2B2B2B
window.grip.unfocus:				raised
window.grip.unfocus.color:			#2B2B2B
window.grip.unfocus.colorTo:			#2B2B2B

###############################################################################
# EOF
